@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-cadet: #25344F;
  --slate-gray: #617891;
  --tan: #D5B893;
  --coffee: #6F4038;
  --cream: #F8F5F0;
}

body {
  background-color: var(--cream);
  color: var(--space-cadet);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}